.movies {
  display: flex;
  justify-content: center;
}

.movies__wrapper {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 10px 80px;
  row-gap: 65px;
}

.movies__not-found {
  text-align: center;
}

@media (min-width: 768px) {
  .movies__wrapper {
    padding: 70px 30px 80px;
  }
}
