.header {
  width: 100%;
  background-color: #073042;
  display: flex;
  justify-content: center;
}

.header__wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 18px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__wrapper {
    padding: 18px 30px;
  }
}
